.wrapper {
  background-color: #d9d9d9; // Серый фон
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input {
  flex: 0.85;
}

.submit {
  flex: 0.1;
}

.group {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

  &__image {
    flex: 0.8;
    max-width: 75%;
    border-radius: 8px; // Закругление углов изображения
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1); // Легкая тень для изображения
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 0.15;
    align-items: flex-start; // Выравнивание кнопок по левому краю
    gap: 10px; // Промежуток между кнопками
  }
}

.changeButton {
  &:not(:first-child) {
    margin-top: 15px;
  }
}

:global {
  .ant-modal-close {
    color: #000!important; // Черный цвет для кнопки закрытия
    top: -25px!important;
    right: -30px!important;
    z-index: 10000!important;

    .ant-modal-close-x {
      font-size: 20px!important;
    }
  }
}
