.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px); // Уменьшение ширины для отступов
  padding: 10px;
  border: 1px solid #000; // Черная рамка
  border-radius: 8px; // Закругление углов
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px); // Уменьшение ширины для отступов
}

.picture {
  width: calc(100% - 20px); // Уменьшение ширины для отступов
}
