.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width: 100vw; 
  margin: 0; 
  padding: 20px 10vw;
  background-color: #d9d9d9; 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title {
  font-family: 'Monospace'; 
  font-size: 50px;
  color: #333;
  letter-spacing: 7px; 
}

.userInfo {
  font-family: 'Monospace'; 
  display: flex;
  align-items: center;
  font-size: 18px;
}

.icon {
  margin-left: 20px;
  width: 32px; /* Size of the icon */
}

.uploadButton {
  padding: 12px 24px; /* Padding for top/bottom and left/right */
  font-size: 16px; /* Font size */
  color: white; /* Text color */
  background-color: #007bff; /* Primary blue color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  
  &:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
  }

  &:active {
    transform: translateY(0); /* Reset lift effect when active */
    background-color: #004494; /* Even darker blue when clicked */
  }

  &:focus {
    outline: none; /* Remove outline on focus */
    box-shadow: 0 0 5px rgba(0,123,255,0.5); /* Add shadow for focus effect */
}
}