// .wrapper {
//   display: grid;
//   width: 100%;
//   padding: 20px 0;
//   grid-template-columns: repeat(auto-fill, minmax(200px, 300px));
//   grid-column-gap: 20px;
//   grid-row-gap: 20px;
// }

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
  gap: 30px; 
}

.placeholder {
  width: 100%; 
  aspect-ratio: 1; 
  background-color: #333; 
  border: 2px solid #333;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure it spans the full width */
}

.titleContainer {
  text-align: center; /* Center align the title */
  margin-bottom: 20px; /* Space between title and grid */
  width: 100%; /* Full width for lines */
}

.title {
  font-size: 24px; /* Font size for the title */
  margin: 10px 0; /* Space around the title */
  font-family: 'Monospace'; 
  color: #333;
  letter-spacing: 3px; 
}

.line {
  border: none; /* Remove default border */
  height: 1px; /* Height of the line */
  background-color: #333; /* Color of the line */
}
